.main-container {
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template-areas: "header header header"
	"left main right";
	grid-template-columns: 1.5fr 4fr 1.5fr;
	grid-template-rows: 50px 1fr;
}
.main-container > div {
	border: 1px solid #888;
}

.header {
	grid-area: header;
}
.left {
	grid-area: left;
}
.main {
	grid-area: main;
}
.right {
	grid-area: right;
}

.likeBtn:hover{
	background-color: #27ad12;

}
.dislikeBtn:hover{
	background-color: red;
}
.lkdslk{
	display: flex;
}
.dialog-icon {
	width: 24px;
	height: 24px;
	background-color: #303030;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.round{
	border-radius: 15px;
	padding: 2px;
}